.map {
  overflow-x: scroll;
}

@media (min-width: 1500px) {
  .map {
    overflow-x: hidden;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

area {
  cursor: pointer;
}

.login-box {
  position: fixed;
  top: 54%;
  left: 50%;
  width: 400px;
  padding: 20px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2,
h5 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

h5 {
  text-align: left;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form .subm {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 4px;
  background-color: rgba(0, 0, 0, 0.7);
}

#close {
  opacity: 0;
  margin-top: 0;
}

label[for=close] {
  margin-left: 90%;
  cursor: pointer;
}

@media (max-width: 500px) {
  .login-box {
    width: 300px;
  }
}
.submenu a {
  margin-bottom: 10px;
}